<a href="https://colab.research.google.com/github/ChangHuaHua/QM2-Group-12/blob/main/Africa_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import files
uploaded = files.upload()

Saving FULL_MERGE.csv to FULL_MERGE.csv

In [ ]:
!mkdir data

import pandas as pd

In [ ]:
data = "FULL_MERGE.csv"
FULL_MERGE = pd.read_csv(data)
FULL_MERGE.head()

       Country  ...  Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)
0  Afghanistan  ...                                                NaN
1  Afghanistan  ...                                                NaN
2  Afghanistan  ...                                                NaN
3  Afghanistan  ...                                                NaN
4  Afghanistan  ...                                                NaN

[5 rows x 10 columns]

In [ ]:
Sub_Saharan_Africa_FULL_MERGE = FULL_MERGE[FULL_MERGE['Region'] == 'Sub-Saharan Africa']
Sub_Saharan_Africa_FULL_MERGE.head()

    Country  ...  Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)
295  Angola  ...                                                NaN
296  Angola  ...                                                NaN
297  Angola  ...                                                NaN
298  Angola  ...                                                NaN
299  Angola  ...                                                NaN

[5 rows x 10 columns]

In [ ]:
Egypt = FULL_MERGE[FULL_MERGE['Country'] == 'Egypt']
Libya = FULL_MERGE[FULL_MERGE['Country'] == 'Libya']
Tunisia = FULL_MERGE[FULL_MERGE['Country'] == 'Tunisia']
Algeria = FULL_MERGE[FULL_MERGE['Country'] == 'Algeria']
Morocco = FULL_MERGE[FULL_MERGE['Country'] == 'Morocco']
Djibouti = FULL_MERGE[FULL_MERGE['Country'] == 'Djibouti']

frames = [Egypt, Libya, Tunisia, Algeria, Morocco, Djibouti, Sub_Saharan_Africa_FULL_MERGE]

Africa_FULL_MERGE = pd.concat(frames, ignore_index=True)

Africa_FULL_MERGE.head()

  Country  ...  Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)
0   Egypt  ...                                                NaN
1   Egypt  ...                                                NaN
2   Egypt  ...                                                NaN
3   Egypt  ...                                                NaN
4   Egypt  ...                                                NaN

[5 rows x 10 columns]

In [ ]:
Africa_FULL_MERGE.tail()

       Country  ...  Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)
3181  Zimbabwe  ...                                          78.010002
3182  Zimbabwe  ...                                          78.113998
3183  Zimbabwe  ...                                          78.209000
3184  Zimbabwe  ...                                          78.542000
3185  Zimbabwe  ...                                                NaN

[5 rows x 10 columns]

In [ ]:
Africa_FULL_MERGE.to_csv('Africa_FULL_MERGE.csv')