<a href="https://colab.research.google.com/github/ChangHuaHua/QM2-Group-12/blob/main/Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!mkdir data/TFR

import pandas as pd 
import pylab
import matplotlib.pyplot as plt

mkdir: cannot create directory ‘data/TFR’: No such file or directory

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving 2)TFR.csv to 2)TFR.csv
Saving 3) country code to region .csv to 3) country code to region .csv

# Cleaning TFR Data

In [ ]:
data_path = '/content/2)TFR.csv'
dataTFR = pd.read_csv(data_path, skiprows= 4,  encoding='latin1') # removed index_col=1,
#rename mismatching country names to faciliate merges later on 
dataTFR['Country Name'].replace({'Congo, Dem, Rep': 'Democratic Republic of Congo', 'Congo, Rep.': 'Congo', 'Gambia, The': 'Gambia'})

dataTFR.head()

  Country Name Country Code  ... 2020 Unnamed: 65
0        Aruba          ABW  ...  NaN         NaN
1  Afghanistan          AFG  ...  NaN         NaN
2       Angola          AGO  ...  NaN         NaN
3      Albania          ALB  ...  NaN         NaN
4      Andorra          AND  ...  NaN         NaN

[5 rows x 66 columns]

In [ ]:
dataRegion = pd.read_csv('/content/3) country code to region .csv', index_col=0, encoding = 'latin1') 
dataRegion.head()

                                      Region  ... Unnamed: 5
ï»¿"Country Code"                             ...
ABW                Latin America & Caribbean  ...        NaN
AFG                               South Asia  ...        NaN
AGO                       Sub-Saharan Africa  ...        NaN
ALB                    Europe & Central Asia  ...        NaN
AND                    Europe & Central Asia  ...        NaN

[5 rows x 5 columns]

In [ ]:
#Merge TFR data with data that categorizes country according to region 
datamerged = dataTFR.merge(dataRegion, left_on='Country Code', right_index=True, how='left')
datamerged.head()

  Country Name Country Code  ...    TableName Unnamed: 5
0        Aruba          ABW  ...        Aruba        NaN
1  Afghanistan          AFG  ...  Afghanistan        NaN
2       Angola          AGO  ...       Angola        NaN
3      Albania          ALB  ...      Albania        NaN
4      Andorra          AND  ...      Andorra        NaN

[5 rows x 71 columns]

In [ ]:
datamerged.drop(["Indicator Code", "Unnamed: 65", "SpecialNotes","TableName","Unnamed: 5","2019","2020"], axis='columns', inplace=True)
#eliminate rows referring to regions (ex: South Asia) not countries, by taking out rows where "Region" column is empty

datamerged = datamerged[datamerged['Region'].notna()]
datamerged.head()

  Country Name Country Code  ...                     Region          IncomeGroup
0        Aruba          ABW  ...  Latin America & Caribbean          High income
1  Afghanistan          AFG  ...                 South Asia           Low income
2       Angola          AGO  ...         Sub-Saharan Africa  Lower middle income
3      Albania          ALB  ...      Europe & Central Asia  Upper middle income
4      Andorra          AND  ...      Europe & Central Asia          High income

[5 rows x 64 columns]

In [ ]:
#Download cleaned data set for further analysis
datamerged.to_csv('TFR_world_cleaned.csv')

So far we've merged and cleaned the TFR Data. Here onwards we will cleanse and merge the remaining 3 datasets (education, LFPR and HDI)

In [ ]:
#Upload remaining 3 datasets 
from google.colab import files
uploaded = files.upload()

# Cleaning HDI Data

In [ ]:
dataHDI=pd.read_csv('/content/3. HDI.csv', skiprows =1,  encoding = 'latin1') 
#drops all unnamed columns, because  data has empty columns every other column 
dataHDI = dataHDI.loc[:, ~dataHDI.columns.str.contains('^Unnamed')] #source : https://stackoverflow.com/questions/43983622/remove-unnamed-columns-in-pandas-dataframe

#rename mismatching country names to faciliate merges later on 
dataHDI['Country'].replace({'Tanzania (United Republic of)': 'Tanzania', 'Congo (Democratic Republic of the)': 'Democratic Republic of Congo', 'Eswatini (Kingdom of)': 'Eswatini'})

dataHDI.head()

  HDI Rank (2018)      Country   1990   1991  ...   2015   2016   2017   2018
0             170  Afghanistan  0.298  0.304  ...  0.490  0.491  0.493  0.496
1              69      Albania  0.644  0.625  ...  0.788  0.788  0.789  0.791
2              82      Algeria  0.578  0.582  ...  0.751  0.755  0.758  0.759
3              36      Andorra     ..     ..  ...  0.850  0.854  0.852  0.857
4             149       Angola     ..     ..  ...  0.565  0.570  0.576  0.574

[5 rows x 31 columns]

In [ ]:
#Removing junk data at bottom of table by droping last 18 rows
dataHDI.drop(dataHDI.tail(18).index,inplace=True)
dataHDI.tail()

    HDI Rank (2018)                             Country  ...   2017   2018
184              96  Venezuela (Bolivarian Republic of)  ...  0.735  0.726
185             118                            Viet Nam  ...  0.690  0.693
186             177                               Yemen  ...  0.463  0.463
187             143                              Zambia  ...  0.589  0.591
188             150                            Zimbabwe  ...  0.553  0.563

[5 rows x 31 columns]

In [ ]:
dataHDI.to_csv('HDI_cleaned.csv')

# Cleaning Female Education Data

In [ ]:
datapath = '/content/2. Female Education.csv'
dataed = pd.read_csv(datapath, encoding='latin1') 
dataed.drop(['Age group', 'Units of measurement', 'Sex'], axis = 1, inplace=True)
dataed.rename(columns={'Reference Area':'Country'}, inplace=True)
dataed.rename(columns={'Time Period':'Year'}, inplace=True)
dataed.rename(columns={'Observation Value':'Females in secondary education (%)'}, inplace=True)

#rename mismatching country names to faciliate merges later on 
dataed['Country'].replace({'United Republic of Tanzania': 'Tanzania', 'Democratic Republic of the Congo': 'Democratic Republic of Congo'})

#Sets 2 columns as index 
dataed.set_index(['Country', 'Year'],inplace = True)
dataed.sort_values(by=['Country', 'Year'],inplace = True)
dataed

                  Females in secondary education (%)
Country     Year
Afghanistan 1975                            11.99690
            1976                            12.77423
            1977                            14.24530
            1978                            14.72301
            1981                            19.83120
...                                              ...
Zimbabwe    2001                            47.01416
            2002                            46.92862
            2003                            47.52008
            2012                            49.31144
            2013                            49.57466

[4977 rows x 1 columns]

In [ ]:
dataed.to_csv('Female_education_cleaned.csv')

# Cleaning Female LFPR Data

In [ ]:
datalf = pd.read_csv('/content/4. Female LFPR.csv', encoding = 'latin1')
datalf.rename(columns={'Entity':'Country'}, inplace=True)

datalf.head()

       Country  ... Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)
0  Afghanistan  ...                                             14.785
1  Afghanistan  ...                                             14.851
2  Afghanistan  ...                                             14.909
3  Afghanistan  ...                                             14.917
4  Afghanistan  ...                                             14.912

[5 rows x 4 columns]

In [ ]:
datalf.set_index(['Country', 'Year'],inplace = True)
datalf

                 Code  Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)
Country     Year
Afghanistan 1990  AFG                                          14.785000
            1991  AFG                                          14.851000
            1992  AFG                                          14.909000
            1993  AFG                                          14.917000
            1994  AFG                                          14.912000
...               ...                                                ...
Zimbabwe    2013  ZWE                                          77.862999
            2014  ZWE                                          78.010002
            2015  ZWE                                          78.113998
            2016  ZWE                                          78.209000
            2017  ZWE                                          78.542000

[6524 rows x 2 columns]

In [ ]:
datalf.to_csv('Female_LFPR_cleaned.csv')

# Merge TFR and HDI

In [ ]:
datamerged.head()

  Country Name Country Code  ...                     Region          IncomeGroup
0        Aruba          ABW  ...  Latin America & Caribbean          High income
1  Afghanistan          AFG  ...                 South Asia           Low income
2       Angola          AGO  ...         Sub-Saharan Africa  Lower middle income
3      Albania          ALB  ...      Europe & Central Asia  Upper middle income
4      Andorra          AND  ...      Europe & Central Asia          High income

[5 rows x 64 columns]

In [ ]:
TFR_reshaped = pd.melt(datamerged, id_vars=['Country Name','Region','IncomeGroup', 'Country Code'], value_vars=list(datamerged.columns)[3:-2])

TFR_reshaped.rename(columns={'variable':'Year'}, inplace=True)
TFR_reshaped['Year'] = TFR_reshaped['Year'].astype(int)  #alters year from string object to integer 

TFR_reshaped.rename(columns={'value':'TFR'}, inplace=True)
TFR_reshaped.rename(columns={'Country Name':'Country'}, inplace=True)
TFR_reshaped.sort_values(by=['Country','Year'], inplace=True)
TFR_reshaped.set_index(['Country','Year'],inplace = True) 
TFR_reshaped

                              Region          IncomeGroup Country Code    TFR
Country     Year
Afghanistan 1960          South Asia           Low income          AFG  7.450
            1961          South Asia           Low income          AFG  7.450
            1962          South Asia           Low income          AFG  7.450
            1963          South Asia           Low income          AFG  7.450
            1964          South Asia           Low income          AFG  7.450
...                              ...                  ...          ...    ...
Zimbabwe    2014  Sub-Saharan Africa  Lower middle income          ZWE  3.974
            2015  Sub-Saharan Africa  Lower middle income          ZWE  3.896
            2016  Sub-Saharan Africa  Lower middle income          ZWE  3.804
            2017  Sub-Saharan Africa  Lower middle income          ZWE  3.707
            2018  Sub-Saharan Africa  Lower middle income          ZWE  3.615

[12803 rows x 4 columns]

In [ ]:
dataHDI.head()

  HDI Rank (2018)      Country   1990   1991  ...   2015   2016   2017   2018
0             170  Afghanistan  0.298  0.304  ...  0.490  0.491  0.493  0.496
1              69      Albania  0.644  0.625  ...  0.788  0.788  0.789  0.791
2              82      Algeria  0.578  0.582  ...  0.751  0.755  0.758  0.759
3              36      Andorra     ..     ..  ...  0.850  0.854  0.852  0.857
4             149       Angola     ..     ..  ...  0.565  0.570  0.576  0.574

[5 rows x 31 columns]

In [ ]:
HDI_reshaped = pd.melt(dataHDI, id_vars=['Country','HDI Rank (2018)'], value_vars=list(dataHDI.columns)[2:])
HDI_reshaped.rename(columns={'variable':'Year'}, inplace=True)
HDI_reshaped.rename(columns={'value':'HDI'}, inplace=True)
HDI_reshaped.sort_values(by=['Country','Year'], inplace=True)
HDI_reshaped['Year'] = HDI_reshaped['Year'].astype(int) #alters year from string object to integer 

HDI_reshaped.set_index(['Country', 'Year'],inplace = True) 
HDI_reshaped

                 HDI Rank (2018)    HDI
Country     Year
Afghanistan 1990             170  0.298
            1991             170  0.304
            1992             170  0.312
            1993             170  0.308
            1994             170  0.303
...                          ...    ...
Zimbabwe    2014             150  0.537
            2015             150  0.544
            2016             150  0.549
            2017             150  0.553
            2018             150  0.563

[5481 rows x 2 columns]

In [ ]:
#Merge HDI and TFR data 
TFR_HDI = TFR_reshaped.merge(HDI_reshaped, left_on = (['Country','Year']), right_on =(['Country','Year']), how ='left') 
TFR_HDI.set_index(['Country', 'Year'], inplace = True) 
TFR_HDI
TFR_HDI.to_csv('TFR_HDI_merged.csv')

#Merging Female Education

In [ ]:
dataed

                  Females in secondary education (%)
Country     Year
Afghanistan 1975                            11.99690
            1976                            12.77423
            1977                            14.24530
            1978                            14.72301
            1981                            19.83120
...                                              ...
Zimbabwe    2001                            47.01416
            2002                            46.92862
            2003                            47.52008
            2012                            49.31144
            2013                            49.57466

[4977 rows x 1 columns]

In [ ]:
TFR_HDI_ed = TFR_HDI.merge(dataed, left_on = (['Country','Year']), right_on =(['Country','Year']), how = 'left') 
TFR_HDI_ed

                              Region  ... Females in secondary education (%)
Country     Year                      ...
Afghanistan 1960          South Asia  ...                                NaN
            1961          South Asia  ...                                NaN
            1962          South Asia  ...                                NaN
            1963          South Asia  ...                                NaN
            1964          South Asia  ...                                NaN
...                              ...  ...                                ...
Zimbabwe    2014  Sub-Saharan Africa  ...                                NaN
            2015  Sub-Saharan Africa  ...                                NaN
            2016  Sub-Saharan Africa  ...                                NaN
            2017  Sub-Saharan Africa  ...                                NaN
            2018  Sub-Saharan Africa  ...                                NaN

[12803 rows x 7 columns]

#Merging Female LFPR (full merge)

In [ ]:
full_merge = TFR_HDI_ed.merge(datalf, left_on = (['Country','Year']), right_on =(['Country','Year']), how = 'left') 
full_merge

                              Region  ... Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)
Country     Year                      ...
Afghanistan 1960          South Asia  ...                                                NaN
            1961          South Asia  ...                                                NaN
            1962          South Asia  ...                                                NaN
            1963          South Asia  ...                                                NaN
            1964          South Asia  ...                                                NaN
...                              ...  ...                                                ...
Zimbabwe    2014  Sub-Saharan Africa  ...                                          78.010002
            2015  Sub-Saharan Africa  ...                                          78.113998
            2016  Sub-Saharan Africa  ...                                          78.209000
            2017  Sub-Saharan Africa  ...                                          78.542000
            2018  Sub-Saharan Africa  ...                                                NaN

[12803 rows x 9 columns]

In [ ]:
full_merge.to_csv('fullmerge.csv')